* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(assets/background-3.jpg);
  background-size: cover;
  
}

.main-content {
  width: 500px;
  max-width: calc(100vw - 10px);
  height: 580px;
  padding: 5px 10px;
  background-color: hsla(0, 0%, 80%, .6);
  box-shadow: hsla(0, 0%, 0%, .8) 5px 5px 20px;
  border-radius: 5px;
}

.nametag {
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  
}

h1 {
  font-size: 22px;
  padding: 15px 0 15px 0;
  font-weight: bold;
  
}

span {
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  color: darkslategrey;
}

.social {
  text-align: center;
  margin: 0 auto;
  
}

section {
  width: 40%;
}

.head, .introduction {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}

.introduction {
  border-top: 1px solid hsla(0, 0%, 30%, .8);
  padding: 40px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  color: black;
}

.profile-picture {
  
  margin-top: -70px;

  
}

img {
  height: 190px;
  width: 130px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 10px darkslategray;
  padding: 1px;
  background-color: darkgrey;
  filter: grayscale(70%);
  border: 1px solid darkslategrey;
}

img:hover {
  filter: grayscale(5%);
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

ul:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}


.social {
  font-size: 28px;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}











